@model Learning.Models.AuthorAllModel
﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    h1 {
        color: #777;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
    }

    .radio-inline {
        font-size: 12pt;
        padding: 30px;
        font-family: Georgia, serif;
    }
</style>
<div style="padding-top: 120px">
    <div class="row">
            <div class="col-md-8 col-md-offset-2" align="center">
                <h1>Indonesian <span style="color: #57BF98;">Research Citation Index</span></h1>
                <br>
                @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                {
                    <div class="input-group" style="margin-bottom:10px; width:100%;">
                        @Html.TextBoxFor(m => m.searchModel.key, new { @class = "form-control" })
                        <div class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Search" />
                        </div>
                    </div>
                }
                <br>
            </div>
    </div>
</div>