@using System.Collections.Generic
@model List<Learning.Models.AuthorViewModel>
﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<!--search box-->
<div id="author-head-content">
    <div id="custom-search-input">
        <div class="input-group col-md-12" style="margin-top: 50px;">
            <input name="searchTxt" type="text" class="form-control input-lg" style="border-radius: 0" />
            <span class="input-group-btn">
                <button class="btn btn-lg" type="submit" style="border-radius: 0;background-color: #57BF98; color: white; line-height:1.1;">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<!--result box-->
<div id="author-result-content">
    <table class="table author-table" style="margin-top: 20px;">
        <tbody id="author_tab_body">
            @foreach (Learning.Models.AuthorViewModel m in Model)
            {
                <tr class="tab_body_r">
                    <td class="tab_body_a">
                        @m.UserId
                    </td>
                    <td class="tab_body_a">
                        @m.Fullname
                    </td>
                    <td class="tab_body_a">
                        @m.Affiliasi
                    </td>
                    @if (Session["LogedUserID"] != null)
                    {
                        <td>@Html.ActionLink("Merge", "MergeAction", new { id = m.UserId })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="author-table-foot">
        <div class="result-info-text">
            <p>Menampilkan 2 dari xxx.xxx hasil</p>
        </div>
        <div class="result-info-btn">
            <button class="btn result-btn">1</button>
        </div>
    </div>
</div>
